<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>EbxTutorialModule</servlet-name>
		<description>
			This servlet is used for registering this web application as an EBX5 module.
			In its init() method, it must call "ModulesRegister.registerWebApp()".
			You may create a dedicated servlet like here, or reuse an existing servlet.
		</description>
		<servlet-class>com.orchestranetworks.tutorial.module.RegisterServlet</servlet-class>
		<!--
			load-on-startup is required for the EBX5 registration to be done.
		  -->
		<load-on-startup>1</load-on-startup>
	</servlet>
</web-app>
